export ENV="development" # | prod | staging
# TODO: seawrch for os.getenv and add the relevant ones here for documentation purposes
export DJANGO_ADMSUPER_USER=""

# "NAME": os.getenv("DB_NAME", "microblog"),  # "your_db_name"
# "USER": os.getenv("PG_USER", "panda"),  # "your_db_user"
# "PASSWORD": os.getenv("PG_PASSWORD", "panda"),  # "your_db_password"
# "HOST": os.getenv("PG_HOST", "localhost"),  # "localhost"
# "PORT": os.getenv("PG_PORT", "5432"),