.theme-dracula.light {
  --background: #ffffff --foreground: hsl(60, 30%, 10%);

  --muted: hsl(232, 14%, 98%);
  --muted-foreground: hsl(60, 30%, 20%);

  --popover: hsl(231, 15%, 94%);
  --popover-foreground: hsl(60, 30%, 20%);

  --border: hsl(232, 14%, 31%);
  --input: hsl(225, 27%, 51%);

  --card: hsl(232, 14%, 98%);
  --card-foreground: hsl(60, 30%, 5%);

  --primary: hsl(265, 89%, 78%);
  --primary-foreground: hsl(60, 30%, 96%);

  --secondary: hsl(326, 100%, 74%);
  --secondary-foreground: hsl(60, 30%, 96%);

  --accent: hsl(225, 27%, 70%);
  --accent-foreground: hsl(60, 30%, 10%);

  --destructive: hsl(0, 100%, 67%);
  --destructive-foreground: hsl(60, 30%, 96%);

  --ring: hsl(225, 27%, 51%);
}

.theme-dracula.dark {
  --background: hsl(231, 15%, 18%);
  --foreground: hsl(60, 30%, 96%);

  --muted: hsl(232, 14%, 31%);
  --muted-foreground: hsl(60, 30%, 96%);

  --popover: hsl(231, 15%, 18%);
  --popover-foreground: hsl(60, 30%, 96%);

  --border: hsl(232, 14%, 31%);
  --input: hsl(225, 27%, 51%);

  --card: hsl(232, 14%, 31%);
  --card-foreground: hsl(60, 30%, 96%);

  --primary: hsl(265, 89%, 78%);
  --primary-foreground: hsl(60, 30%, 96%);

  --secondary: hsl(326, 100%, 74%);
  --secondary-foreground: hsl(60, 30%, 96%);

  --accent: hsl(225, 27%, 51%);
  --accent-foreground: hsl(60, 30%, 96%);

  --destructive: hsl(0, 100%, 67%);
  --destructive-foreground: hsl(60, 30%, 96%);

  --ring: hsl(225, 27%, 51%);
}
