.theme-netflix.light {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);

  --muted: hsl(0, 0%, 68%);
  --muted-foreground: hsl(0, 0%, 0%);

  --popover: hsl(0, 0%, 95%);
  --popover-foreground: hsl(0, 0%, 0%);

  --border: hsl(0, 68%, 39%);
  --input: hsl(0, 68%, 39%);

  --card: hsl(0, 0%, 95%);
  --card-foreground: hsl(0, 0%, 0%);

  --primary: hsl(0, 100%, 44%);
  --primary-foreground: hsl(0, 0%, 100%);

  --secondary: hsl(0, 0%, 0%);
  --secondary-foreground: hsl(0, 0%, 100%);

  --accent: hsl(0, 100%, 50%);
  --accent-foreground: hsl(0, 0%, 0%);

  --destructive: hsl(0, 68%, 39%);
  --destructive-foreground: hsl(0, 0%, 100%);

  --ring: hsl(0, 100%, 44%);
}

.theme-netflix.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 100%);

  --muted: hsl(0, 0%, 50%);
  --muted-foreground: hsl(0, 0%, 100%);

  --popover: hsl(0, 0%, 5%);
  --popover-foreground: hsl(0, 0%, 100%);

  --border: hsl(0, 68%, 39%);
  --input: hsl(0, 68%, 39%);

  --card: hsl(0, 0%, 5%);
  --card-foreground: hsl(0, 0%, 100%);

  --primary: hsl(0, 100%, 44%);
  --primary-foreground: hsl(0, 0%, 0%);

  --secondary: hsl(0, 0%, 100%);
  --secondary-foreground: hsl(0, 0%, 0%);

  --accent: hsl(0, 100%, 50%);
  --accent-foreground: hsl(0, 0%, 100%);

  --destructive: hsl(0, 68%, 39%);
  --destructive-foreground: hsl(0, 0%, 100%);

  --ring: hsl(0, 100%, 44%);
}
